@{
    ViewBag.Title = "Home Page";
}



<section class="hero-area" id="portada">
        <div class="container hero-area-content">

            <div class="row">
                <div class="col-md-6 mt-5">
                    <h3 style="color: #070751; font-weight: bold;">Soluciones RFID</h3>
                    <img src="~/img/diagramagris-1200x680.png" class="w-100" alt="Alternate Text" />
                </div>

                <div class="col-md-6 col-sm-6 mt-5">
                    <form class="p-3" style="background: #edf6f5;border-radius: 10px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre (requerido)</label>
                            <input type="text" class="form-control" id="txtNombre" name="NombreVar" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">E-mail (requerido)</label>
                            <input type="email" class="form-control" id="txtEmail" name="CorreoVar">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Telefono (requerido)</label>
                            <input type="tel" class="form-control" id="txtTelefono" name="TelefonoVar">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Mensaje</label>
                            <textarea class="form-control" id="txtMensaje" rows="3" name="MensajeVar"></textarea>
                        </div>
                        <button type="submit" class="btn btn-gray" onclick="Add('/Home/Email')">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />